In [1]:
import seaborn as sns
import pandas as pd
from sklearn import linear_model
from sklearn import preprocessing
from sklearn import model_selection

In [2]:
data = sns.load_dataset("tips")
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
p = preprocessing.LabelEncoder()
time = p.fit_transform(data["time"])
sex = p.fit_transform(data["sex"])
day = p.fit_transform(data["day"])
smoker = p.fit_transform(data["smoker"])

In [4]:
data = pd.DataFrame({
    "total_bill":data["total_bill"],
    "tip":data["tip"],
    "sex":sex,
    "smoker":smoker,
    "day":day,
    "time":time,
    "size":data["size"]
    })

data

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [5]:
x = data.drop(columns = "total_bill")
y = data["total_bill"]

In [6]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y, test_size = 0.2)
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
prediction = model.predict(x_test)
score = model.score(x_test,y_test)
prediction

array([27.77071089, 22.78766588, 18.41284987, 16.04497736, 16.613321  ,
       24.22399036, 16.38843421, 17.52969084, 10.2086223 , 20.19070126,
       24.39601319, 15.61051982, 12.52170091, 22.73089856, 30.50895633,
       12.52170091, 29.86129433, 23.86639085, 15.07740386, 16.38296718,
       34.09072323, 16.56045704, 17.33761851, 22.76371302, 25.23513712,
       45.51412371, 16.68575118, 27.42905685, 23.27352275, 16.37683191,
       16.59743336, 22.4814657 , 20.95290932, 21.13988556, 35.78868239,
       22.55117679, 17.27593641, 21.06518   , 20.9296031 , 12.11245793,
       18.66938846, 23.92118476, 10.9796485 , 19.80069703, 19.90303038,
       13.61273988, 25.23642042, 16.22734078, 27.18151772])

In [7]:
score

0.4826968262015101